.heading {
  min-height: 3vh;
  font-size: 1.7rem;
}

.list ul {
  list-style: disc;
}
.footer
{
  background: #162c3b;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li
{
  list-style: none;
}
.footer ul li a
{
  text-decoration: none;
  display: inline-block;
  margin: 0px 15px;
}
.footer ul li a img
{
  max-width: 20px;
  filter: invert(1);
}
.width{
  max-width: 910px;
}
.spinner{
  align-content: space-between;
}
.space{
  margin-left: 14vw;
  margin-right: 14vw;
}